*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    text-shadow: 0.5px 0.5px 2px whitesmoke;
    font-size: 1.25rem;
    background-image: linear-gradient(45deg, #c88537 15%, #c2c837 50%, #c83d37 75%);
    background-repeat: no-repeat;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.mainContent {
    display: flex;
    flex-wrap: wrap;
}
.formContainer {
    width: 100vw;
    margin: 10px, auto;
    padding: 15px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-weight: 600;
}
input {
    margin: 10px;
    height: 25px;
}
button {
    height: 30px;
    width: 75px;
    background-color: #d39d5e;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 3px;
}
button:hover {
    background-color: #8f5f27;
}
.tableContainer {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    padding: 15px;
}
.definition {
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    flex-basis: 720px;
    line-height: 1.5;
}
table {
    border-collapse: collapse;
    border: 3px double black;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 300px;
    text-align: center;
    font-weight: 700;
}
th {
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    background-color: #d39d5e;
}
tr,
td {
    height: 30px;
    border: 1px dashed black;
    padding: 5px;
}
tr {
    background-color: #c8cd49;
}
tr:nth-child(even) {
    background-color: #cd4e49;
}
