*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.25rem;
}
table {
    border-collapse: collapse;
    border: 3px double black;
    margin: 10px;
    padding: 10px;
}
th,
tr {
    border: 1px dashed black;
    padding: 15px;
}
td {
    border: 1px dashed black;
    padding: 5px;
}
